
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Hotel Room API Suite" verbose="1" >
  <test name="RoomService Tests">
    <classes>
      <class name="tests.AuthTests"/>
      <class name="tests.ViewRoomListTest"/>
      <class name="tests.ViewRoomByIdTest"/>
      <class name="tests.ViewRoomByTypeTest"/>
      <class name="tests.AddRoomTest"/>
      <class name="tests.UpdateRoomPriceTest"/>
      <class name="tests.DeleteRoomTest"/>
    </classes>
  </test>
</suite>
